main {
    text-align:center;
}

div.wrapper-title{
  h1{
    text-align:center;
  }
}
div#content-albums{
  background-color:#f1f1f1;
  border: 2px solid red;
  margin: 0 auto;
  div.col-sm-3{
    border: 1px solid blue;
    padding: 0;
    img {
      width: 100%;
    }
    p.album-title{
      span.label{
          font-weight: bold;
      }
    }
  }
}
