main {
    text-align:center;
}

/* Top 5 Albums Section */
div.wrapper-title{
  h1{
    text-align:center;
  }
}
div#content-albums{
  background-color:#f1f1f1;
  border: 2px solid red;
  margin: 0 auto;
  div.col-sm{
    border: 1px solid blue;
    padding: 20px;
    img {
      width: 100%;
      border: solid 1px lightgrey;
    }
    div.album-information{
      border: solid 1px lightgrey;
      background-color: #fff;
      padding: 5px 5px 20px 5px;
      p.album-title, p.artist-name,p.rating {
        text-align:left;
        padding: 0 5px 0 5px;
        margin: 0;
        span.label{
          font-weight: bold;
        }
      }
    }
  }
}
